<!DOCTYPE html>
<html lang="en">
<head>
<title>Tom Residue</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
</head>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-black w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-padding-64"><b>Tom<br>Residue</b></h3>
  </div>
  <div class="w3-bar-block">
   <a href={{url_for('home1')}} class="w3-bar-item w3-button w3-hover-white">Home</a>
    <a href={{url_for('home3')}} class="w3-bar-item w3-button w3-hover-white">Crop Residue Management Techniques</a>
     <a href={{url_for('home2')}} class="w3-bar-item w3-button w3-hover-white">Our Model</a>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-black w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-black w3-margin-right" onclick="w3_open()">☰</a>
  <span>Company Name</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo w3-text-green"><b> A bit about OUR MISSION!</b></h1>
    <hr style="width:50px;border:5px solid green" class="w3-round">
  </div>


  <!-- Modal for full size images on click-->
  <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
    <span class="w3-button w3-black w3-xxlarge w3-display-topright">×</span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
      <img id="img01" class="w3-image">
      <p id="caption"></p>
    </div>
  </div>

  <!-- Services -->
  <div class="w3-container" id="services" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-green"><b> Crop Residue to Elecrticity</b></h1>
    <hr style="width:50px;border:5px solid green" class="w3-round">
    <p>Within fifty kilometres of the plant, there would be a number of collecting centres, making it simple for farmers without access to transportation to supply their agricultural residues. Farmers will be compensated after delivery. The leftovers will then be brought to the factory, which houses the storage facilities. To maintain a steady supply for the plant to run on, there will always be a sizable store of crop waste.

        The paddy straw-based biomass power plants will convert crop residue into electricity.
    </p>
  </div>
 
  <!-- Designers -->
  <div class="w3-container" id="designers" style="margin-top:75px">

<div style="position: relative; width: 100%; height: 0; padding-top: 56.2500%;
 padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
 border-radius: 8px; will-change: transform;">
  <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
    src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFZJidBfsI&#x2F;view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
  </iframe>
</div>
    <h1 class="w3-xxxlarge w3-text-green"><b> Recycling Crop Residue </b></h1>
    <hr style="width:50px;border:5px solid green" class="w3-round">
    <p> Traditional farming practises have resulted in decreased soil organic matter, increased soil erosion, and contaminated surface and groundwater. 
        Soil quality in agricultural lands benefits greatly from effective crop residue management. Crop residues can be used in the field in a variety of ways, either by being left in the open field or being included in other field operations like ploughing. By adding organic manure to the soil, this improves its ability to store water, reduces weed growth and soil erosion, and increases the activity of the soil's microorganisms. Crop residues increase the organic matter in the soil, which enhances the soil's structure and quality. 
    </p>
    
     <!-- Services -->
  <div class="w3-container" id="services" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-green"><b> Soil Aeration </b></h1>
    <hr style="width:50px;border:5px solid green" class="w3-round">
    <p>By encouraging a free interchange of gases between the soil and the atmosphere, crop waste cover enhances soil aeration. This is made easier by boosting soil drainage, porosity, and structural stability, further reducing surface crusting.
    </p>
  </div>
 
  <!-- Designers -->
  <div class="w3-container" id="designers" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-green"><b> Weed Control  </b></h1>
    <hr style="width:50px;border:5px solid green" class="w3-round">
    <p> Crop wastes operate as a mulch in the soil, which inhibits the growth of weeds. This layer limits the amount of sunlight and nitrogen that can reach the soil, which also prevents weeds from growing nearby. 
    </p>
  

<!-- End page content -->
</div>


<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</script>

</body>
</html>
